@{
    ViewData["Title"] = "Signed out";
}

<div class="mt-8 flex justify-content-center">
    <div style="text-align: end; color:#0181eb;">
        <h2 class="@Css.H2 ml-4">@ViewData["Title"]</h2>
        <p class="my-4">You have successfully signed out.</p>
    </div>
</div>
